{{ ansible_managed | comment }}

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="/home/$USER/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="{{ user.oh_my_zsh.theme | default(ohmyzsh_default_theme) }}"

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in $ZSH/themes/
# If set to an empty array, this variable will have no effect.
ZSH_THEME_RANDOM_CANDIDATES=( "{{ user.oh_my_zsh.theme_random_candidates | default(ohmyzsh_default_theme_random_candidates) | join('" "') }}" )

# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="{{ user.oh_my_zsh.case_sensitive | default(ohmyzsh_default_case_sensitive) | bool | lower }}"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="{{ user.oh_my_zsh.hyphen_insensitive | default(ohmyzsh_default_hyphen_insensitive) | bool | lower }}"

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="{{ user.oh_my_zsh.disable_auto_update | default(ohmyzsh_default_disable_auto_update) | bool | lower }}"

# Uncomment the following line to automatically update without prompting.
DISABLE_UPDATE_PROMPT="{{ user.oh_my_zsh.disable_update_prompt | default(ohmyzsh_default_disable_update_prompt) | bool | lower }}"

# Uncomment the following line to change how often to auto-update (in days).
export UPDATE_ZSH_DAYS={{ user.oh_my_zsh.update_zsh_days | default(ohmyzsh_default_update_zsh_days) | int }}

# Uncomment the following line if pasting URLs and other text is messed up.
DISABLE_MAGIC_FUNCTIONS="{{ user.oh_my_zsh.disable_magic_functions | default(ohmyzsh_default_disable_magic_functions) | bool | lower }}"

# Uncomment the following line to disable colors in ls.
DISABLE_LS_COLORS="{{ user.oh_my_zsh.disable_ls_colors | default(ohmyzsh_default_disable_ls_colors) | bool | lower }}"

# Uncomment the following line to disable auto-setting terminal title.
DISABLE_AUTO_TITLE="{{ user.oh_my_zsh.disable_auto_title | default(ohmyzsh_default_disable_auto_title) | bool | lower }}"

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="{{ user.oh_my_zsh.enable_correction | default(ohmyzsh_default_enable_correction) | bool | lower }}"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="{{ user.oh_my_zsh.completion_waiting_dots | default(ohmyzsh_default_completion_waiting_dots) | bool | lower }}"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
DISABLE_UNTRACKED_FILES_DIRTY="{{ user.oh_my_zsh.disable_untracked_files_dirty | default(ohmyzsh_default_disable_untracked_files_dirty) | bool | lower }}"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
HIST_STAMPS="{{ user.oh_my_zsh.history_stamps | default(ohmyzsh_default_history_stamps) | string }}"

# Would you like to use another custom folder than $ZSH/custom?
ZSH_CUSTOM={{ user.oh_my_zsh.zsh_custom | default(ohmyzsh_default_zsh_custom) | string }}

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=({{ user.oh_my_zsh.plugins | default(ohmyzsh_default_plugins) | join(' ') }})

source $ZSH/oh-my-zsh.sh

# User user.oh_my_zsh.ration

{{ user.oh_my_zsh.user_configuration | default(ohmyzsh_default_user_configuration) | string }}
